*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: #c8c8c8;
    width: 100vw;

}
h1{
    display: inline-block;
    color: gold;
    text-shadow: 3px 2px black;
}
select{
    position: absolute;
    right: 50px;
    top: 27px;
}
.header{
    border-bottom: 2px solid goldenrod;
    background-color: #007399;
    padding: 20px;
    height: 100px;
    width: 100%;

}

.home{
    position: absolute;
    left: 50px;
    top: 33px;
    height: 25px;
    width: 65px;
    border-radius: 3px;
    
}
a{
    text-decoration: none;
}

@media screen and (max-width: 680px){
    h1{
        font-size: 17pt;
    }
}