<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="header">
    
    <h1>Welcome to VisualAlgo</h1>
      <select (change)="changeAlgo($event)">
        <option>Select Sort</option>
        <option [routerLink]="['/bubble']">Bubble</option>
        <option [routerLink]="['/pancake']">Pancake</option>
        <option [routerLink]="['/bogo']">Bogo</option>
        <option [routerLink]="['/insertion']">Insertion</option>
        <option [routerLink]="['/selection']">Selection</option>
        <option [routerLink]="['/cocktail']">Cocktail</option>
      </select>
    
  </div>
    <router-outlet></router-outlet>
</body>
</html>