*{
    margin: 0;
}
.message{
    width: 500px;
    margin: auto; 
    /* margin-top: 40px; */
    
}
.wrapper{
    margin: auto;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

p{
    color: white;
    font-size: 14pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.VisualAlgo{
    height: 350px;
    width: 350px;
}